{% set r = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">Social Network</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ r == 'home' ? 'active' : '' }}"><a href="{{ path('home') }}">Home</a></li>

                <li class="dropdown {{ r == 'all_users' or r == 'new_users' ? 'active' : '' }}">
                    <a href="{{ path('all_users') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{{ r == 'all_users' ? 'active' : '' }}">
                            <a href="{{ path('all_users') }}">All Users</a>
                        </li>
                        <li class="{{ r == 'new_users' ? 'active' : '' }}">
                            <a href="{{ path('new_users') }}">New Users</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown {{ r == 'recent_posts' or r == 'all_posts' or r == 'create_post' or r == 'my_posts' ? 'active' : '' }}">
                    <a href="{{ path('recent_posts') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Posts <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{{ r == 'recent_posts' ? 'active' : '' }}">
                            <a href="{{ path('recent_posts') }}">Recent Popular</a>
                        </li>
                        <li class="{{ r == 'all_posts' ? 'active' : '' }}">
                            <a href="{{ path('all_posts') }}">Newest Posts</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Actions</li>
                        <li class="{{ r == 'create_post' ? 'active' : '' }}">
                            <a href="{{ path('create_post') }}">Create New Post</a>
                        </li>
                        <li class="{{ r == 'my_posts' ? 'active' : '' }}">
                            <a href="{{ path('my_posts') }}">My Posts</a>
                        </li>
                    </ul>
                </li>

                <li class="{{ r == 'bookmarks' ? 'active' : '' }}">
                    <a href="{{ path('bookmarks') }}">Bookmarks</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="{{ r == 'signup' ? 'active' : '' }}">
                    <a href="{{ path('signup') }}">Create Account</a>
                </li>
                <li class="{{ r == 'login' ? 'active' : '' }}">
                    <a href="{{ path('login') }}">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
